@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>_Layout</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <footer class="container py-5">
        @Html.Partial("_Footer")
    </footer>
</body>
</html>